@font-face {
    font-family: 'PixelGrid';
    src: url('https://duroc-sa.github.io/Pagina-Fullstack-II/css/fonts/pixelgrid-squareboldm.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'PixelGridXL';
    src: url('https://duroc-sa.github.io/Pagina-Fullstack-II/css/fonts/pixelgrid-squareboldxl.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'PixelGridS';
    src: url('https://duroc-sa.github.io/Pagina-Fullstack-II/css/fonts/pixelgrid-squarebolds.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}


body {
  margin: 0;
  font-family: 'PixelGridS', Arial, sans-serif;
  background-color: #121520;
  color: #ffffff;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-track {
  background: #0f111a;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: linear-gradient(45deg, #3b8cc9, #339af0);
  border-radius: 10px;
  border: 2px solid #0f111a;
}

::-webkit-scrollbar-thumb:hover {
  background: linear-gradient(45deg, #4a9cd9, #43afff);
  box-shadow: 0 0 10px rgba(59, 140, 201, 0.5);
}

* {
  scrollbar-color: #3b8cc9 #0f111a;
  scrollbar-width: thin;
}
